.style {
  margin-left: 47%;
  padding-bottom: 100px;
}
.fa-facebook {
  color: aliceblue;
}
.fa-square-twitter {
  color: aliceblue;
  margin-left: 10px;
}
.fa-linkedin {
  color: aliceblue;
  margin-left: 10px;
}
.modal-header {
  background-color: rgb(1, 225, 255);
  color: white;
}
